.mono {
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-lighter);
}

.nav {
  display: flex;
  padding: 1rem;
  background-color: black;
  color: white;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 150ms ease-in;

    &:hover { color: #d11818  }
  }

  ul {
    display: flex;
    align-items: start;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-weight: bold;
    }
  }
}