:root {
  --color-lighter: #444;
  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width-xl: 1200px;

  --width-gap: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: var(--font-open-sans);
  color: #111;
}

h1 {
  font-size: clamp(1.75rem, 3vw, 3rem);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: var(--width-gap);
  margin-inline: auto;
}