.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh / 5);
  font-size: 1.5rem;
  font-weight: bold;

  &.match { background-color: green; }
  &.mismatch { background-color: red; }
}
